@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*
-----------------
Table of contents
-----------------

- Colours
- General page style
- Navbar
- Main body (page content goes here)

*/

/* Colours */
:root {
    --kalypso-yellow: #e5c07b;
    --kalypso-orange: #f7a561;
    --kalypso-red: #e06c75;
    --kalypso-magenta: #c678dd;
    --kalypso-dark_blue: #6879bb;
    --kalypso-light_blue: #61afef;
    --kalypso-cyan: #56b6c2;
    --kalypso-green: #98c379;
    --kalypso-white: #dcdfe4;
    --kalypso-black: #282c34;
}

/* General page style */

html, body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--kalypso-black);
    background-color: var(--kalypso-white);
}

/* Navbar */

header {
    background-color: var(--kalypso-black);
    padding: 0px;
}

nav {
    margin: auto;
    padding: 0px;
    width: 60%;
    max-width: 1200px;
}

.nav__links {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
}

.nav__links li {
    margin: 0px;
}

.nav__links li a {
    padding: 16px 20px;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: var(--kalypso-white);
    /* transition: all 0.3s ease 0s; */
}

.nav__links li:hover:not(.nav__links__active) {
    /* Translucent white underlay */
    /* background-color: rgba(255, 255, 255, 0.1); */

    /* Translucent black underlay */
    background-color: rgba(0, 0, 0, 0.3);
}

.nav__links li.nav__links__active {
    /* color: var(--kalypso-black); */
    background-color: var(--kalypso-yellow);
}

.nav__links li.nav__links__active a {
    color: var(--kalypso-black);
}

/* Main body (page content goes here) */

.main__body {
    margin: auto;
    padding: 20px 0px;
    width: 60%;
    max-width: 1200px;
}