@import './base.css';

/*
-----------------
Table of contents
-----------------

- Headings
- Paragraphs
- Lists
- Links
- Code

*/

/* Headings */

.main__body__content__purpose h2,
.main__body__content__technologies h2 {
    margin: 0px;
    padding: 0px;
}

/* Paragraphs */

.main__body__content__purpose p,
.main__body__content__technologies p {
    margin: 16px 0px;
    padding: 0px;
    text-align: justify;
}

/* Lists */

.main__body__content__purpose ul,
.main__body__content__technologies ul {
    padding-left: 0px;
    list-style-position: inside;
}

.main__body__content__purpose ul li,
.main__body__content__technologies ul li {
    margin: 3px 0px;
    list-style-position: inside;
}

/* Links */

.main__body__content__purpose a,
.main__body__content__technologies a {
    color: var(--kalypso-black);
    text-decoration: underline;
}

.main__body__content__purpose a:hover,
.main__body__content__technologies a:hover {
    color: black;
}

.main__body__content__purpose a.link_twitch_tv:hover {
    color: var(--kalypso-magenta);
}

/* Code */

.main__body__content__purpose code,
.main__body__content__technologies code {
    margin: 0px;
    padding: 1px 3px;
    color: var(--kalypso-white);
    background-color: rgba(56, 57, 60, 0.75);
    border-radius: 5px;
}