@import './base.css';

/*
-----------------
Table of contents
-----------------

- Main Body
- Message
- Title & Paragraph
- Button

*/

/* Main Body */

.error__404,
.error__500 {
    margin: auto;
    padding: 0px;
    width: 60%;
    max-width: 1200px;
}

/* Message */

.error__404__message,
.error__500__message {
    margin: auto;
    padding: 0px;
    display: block;
    text-align: center;
    font-size: 10em;
    color: var(--kalypso-red);
    text-shadow: 1px 1px 1px var(--kalypso-black),
        2px 2px 1px var(--kalypso-black),
        3px 3px 1px var(--kalypso-black),
        4px 4px 1px var(--kalypso-black),
        5px 5px 1px var(--kalypso-black),
        6px 6px 1px var(--kalypso-black),
        7px 7px 1px var(--kalypso-black),
        8px 8px 1px var(--kalypso-black);
}

/* Title & Paragraph */

.error__404 h1, .error__404 p,
.error__500 h1, .error__500 p {
    margin: 0px 0px 16px 0px;
    padding: 0px;
    text-align: center;
}

/* Button */

.error__404__button__home {
    margin: 0px auto;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    font-size: medium;
    font-weight: normal;
    display: block;
}

.error__404__button__home:hover {
    color: var(--kalypso-white);
    background-color: var(--kalypso-black);
}