@import './base.css';

/*
-----------------
Table of contents
-----------------

- Headings
- Input Fields
- Basic Settings
- Advanced Settings

*/

/* Headings */

.main__body__settings h2 {
    margin: 25px 0px;
    padding: 0px;
    border-bottom: 1px solid var(--kalypso-black);
}

.main__body__settings h4 {
    margin: 16px 0px;
    padding: 0px;
}

/* Input Fields */

.main__body__settings input {
    font-size: large;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
}

.main__body__settings input.setting__changed {
    color: var(--kalypso-red);
}

/* Buttons */

.main__body__settings__basic__settings__buttons,
.main__body__settings__advanced__settings__buttons {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.main__body__settings button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    font-size: medium;
    font-weight: normal;
}

.main__body__settings button:hover {
    /* Translucent black underlay */
    background-color: rgba(0, 0, 0, 0.1);
}

.main__body__settings__basic__settings__buttons,
.main__body__settings__advanced__settings__buttons {
    grid-column: 1 / span 2;
    margin: 10px;
}

/* Basic Settings */
.main__body__settings__basic__settings {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 0px;
}

/* Advanced Settings */

.main__body__settings__advanced__settings {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 0px;
}

.main__body__settings__advanced__settings__spam_list > input:first-child {
    margin: 11px 0px 0px 0px;
}

.main__body__settings__advanced__settings__info_cards code {
    margin: 0px;
    padding: 1px 3px;
    color: var(--kalypso-white);
    background-color: rgba(56, 57, 60, 0.75);
    border-radius: 5px;
}