@import './base.css';

/*
-----------------
Table of contents
-----------------

- Info cards
- Connection Overview, Messages & Bot Controls
    - Connection Overview
    - Messages
    - Bot Controls

*/

/* Info cards */

.main__body__info_cards {
    margin: 10px 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 229px);
    gap: 20px;
    justify-content: space-between;
}

.information__card {
    margin: 0px;
    padding: 0px;
    width: 225px;
    border: 2px solid var(--kalypso-black);
    border-radius: 7px;
    text-align: center;
}

.information__card__header {
    margin: 0px;
    padding: 7px;
    background-color: var(--kalypso-black);
    color: var(--kalypso-white);
    border-top-left-radius: calc(7px - 4px);
    border-top-right-radius: calc(7px - 4px);
}

.information__card__data {
    margin: 0px;
    padding: 7px;
    border-bottom-left-radius: calc(7px - 2px);
    border-bottom-right-radius: calc(7px - 2px);
}

.information__card__data__active {
    background-color: var(--kalypso-green);
}

.information__card__data__inactive {
    background-color: var(--kalypso-red);
}

/* Connection Overview, Messages & Bot Controls */

.main__body__connection__overview,
.main__body__messages,
.main__body__bot__controls {
    margin: 20px 0px 10px 0px;
    padding: 0px;
    border: 2px solid var(--kalypso-black);
    border-radius: 7px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.main__body__connection__overview__title,
.main__body__messages__title,
.main__body__bot__controls__title {
    margin: 0px;
    padding: 7px;
    background-color: var(--kalypso-black);
    color: var(--kalypso-white);
    border-top-left-radius: calc(7px - 4px);
    border-top-right-radius: calc(7px - 4px);
}

.main__body__connection__overview__table,
.main__body__messages__table {
    overflow-y: auto;
}


.main__body__connection__overview__table .table,
.main__body__messages__table .table {
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    text-align: left;
    width: 100%;
}

.main__body__connection__overview__table .table .table__row td,
.main__body__messages__table .table .table__row td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.main__body__connection__overview__table .table th,
.main__body__connection__overview__table .table td,
.main__body__messages__table .table th,
.main__body__messages__table .table td {
    padding: 7px;
}

.main__body__connection__overview__table .table .table__header th,
.main__body__messages__table .table .table__header th {
    position: sticky;
    top: 0px;
    background-color: var(--kalypso-dark_blue);
    font-weight: normal;
}

/* Connection Overview */

.main__body__connection__overview__table {
    height: 150px;
}

.main__body__connection__overview__table .table .table__header th:first-child {
    width: 25%;
}

/* Messages */

.main__body__messages__table {
    height: 450px;
}

.main__body__messages__table .table .table__header th:first-child {
    width: 15%;
}

.main__body__messages__table .table .table__header th:nth-child(2) {
    width: 15%;
}

.main__body__messages__table .table .table__header th:nth-child(3) {
    width: 15%;
}

.main__body__messages__table .table .table__header th:nth-child(4) {
    width: 20%;
}

.main__body__messages__table .table .table__header th:nth-child(5) {
    width: 35%;
}

.main__body__messages__table .table td.table__cell.potential__spam {
    background-color: var(--kalypso-yellow);
}

.main__body__messages__table .table td.table__cell.usernotice__raid,
.main__body__messages__table .table td.table__cell.usernotice__sub,
.main__body__messages__table .table td.table__cell.usernotice__resub,
.main__body__messages__table .table td.table__cell.usernotice__subgift {
    background-color: var(--kalypso-green);
}


/* Bot Controls */

.main__body__bot__controls__buttons {
    margin: 0px;
    padding: 0px;
}

.main__body__bot__controls__buttons button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    font-size: medium;
    font-weight: normal;
}

.main__body__bot__controls__buttons button:hover {
    /* Translucent black underlay */
    background-color: rgba(0, 0, 0, 0.1);
}

.main__body__bot__controls__twitch_bot_start {
    background-color: var(--kalypso-green);
}

.main__body__bot__controls__twitch_bot_stop {
    background-color: var(--kalypso-red);
}