<link rel="stylesheet" href="{{ url_for('.static', filename='styles/http_errors.css') }}">

<div class="error__500">
    <span class="error__500__message">ERROR 500</span>
    <h1>Whoops! This page isn't working.</h1>
    <p>
        Looks like the server is taking a break. Please try again later.
    </p>
</div>