<link rel="stylesheet" href="{{ url_for('.static', filename='styles/http_errors.css') }}">

<div class="error__404">
    <span class="error__404__message">ERROR 404</span>
    <h1>Oops! This page can't be found.</h1>
    <p>
        You must have taken a wrong turn somewhere. Click the button below to get back to the home page.
    </p>
    <button class="error__404__button__home" onclick="location.href = '/home'">Take me back home</button>
</div>