<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('.static', filename='styles/base.css') }}">
    {% block style_sheets %}
    {% endblock style_sheets %}
    <link rel="favourite icon" href="{{ url_for('.static', filename='images/TwitchBot_favicon.png') }}">
    <title>TwitchBot</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav__links">
                <li class="nav__links__home"><a href="/home">Home</a></li>
                <li class="nav__links__twitch_bot"><a href="/twitch_bot">Twitch Bot</a></li>
                <li class="nav__links__settings"><a href="/settings">Settings</a></li>
            </ul>
        </nav>
    </header>

    <div class="main__body">
        {% block page_content %}
        {% endblock %}
    </div>

    <script src="https://cdn.socket.io/4.1.1/socket.io.min.js" integrity="sha384-cdrFIqe3RasCMNE0jeFG9xJHog/tgOVC1E9Lzve8LQN1g5WUHo0Kvk1mawWjxX7a" crossorigin="anonymous"></script>
    <script type="module" src="{{ url_for('.static', filename='scripts/add-class-active-to-navbar.js') }}"></script>

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>
