{% extends "base.html" %}

{% block style_sheets %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='styles/home.css') }}">
{% endblock style_sheets %}

{% block page_content %}
    <div class="main__body__content__purpose">
        <h2>What does the TwitchBot webapp do?</h2>
        <p>
            The TwitchBot webapp is an IRC bot meant to connect to any <a class="link_twitch_tv" href="https://www.twitch.tv/">Twitch.tv</a>  channel. Its primary purpose is to combat spam, i.e. read incoming chat messages and determine, using the <code>SPAM_LIST</code> array in the <code>config.json</code> file, which supports regular expressions, whether the message should be considered spam or not.
        </p>
        <p>
            However, it can do more than that. Acknowledging subscriptions, re-subscriptions or gifted subscriptions from viewers is very important to keep the viewer(s) invested in the channel. This is why the TwitchBot can detect such events and thank the person directly. Additionally, to improve the relationship between the channel's broadcaster and another broadcaster raiding the former's channel, the TwitchBot can react to such an event, thank the raider and give a shout-out to them (using a custom <code>!so</code> Nightbot command).
        </p>
        <p>
            All this information is displayed nicely on the <a href="/twitch_bot">Twitch Bot page</a>, which shows the most important information at a glance.
        </p>
    </div>
    <div class="main__body__content__technologies">
        <h2>What technologies does the TwitchBot webapp use?</h2>
        <p>
            The TwitchBot webapp uses a multitude of technologies under the hood. For the back end, the following is used:
            <ul>
                <li>Python3</li>
                <li>IRC</li>
                <li>Flask</li>
                <li>SocketIO</li>
                <li>Celery</li>
                <li>Redis</li>
                <li>SQLAlchemy with an SQLite3 database</li>
            </ul>
            The front end is much less spectacular and uses these technologies:
            <ul>
                <li>HTML</li>
                <li>Jinja2</li>
                <li>CSS</li>
                <li>Vanilla JavaScript</li>
            </ul>
        </p>
        <p>
            What's more, the TwitchBot webapp is built using application factories. <a href="https://hackersandslackers.com/flask-application-factory/">This blog post</a> by Todd Birchard and <a href="https://github.com/ksh7/flask-starter">this GitHub repository</a> by Kundan Singh have helped me tremendously in getting this application up and running.
        </p>
    </div>
{% endblock %}