{% macro information_card(header, data, type, class) %}
<div class="information__card">
    <div class="information__card__header {{ type }}">
        {{ header }}
    </div>
    <!-- Important: The space before the {{ class }} in the if statement must be there, otherwise
                    the two classes get mushed together (i.e. this results in an element class
                    of 'class="information__card__datainformation__card__data__inactive"' instead
                    of 'class="information__card__data information__card__data__inactive"')!  -->
    <div class="information__card__data {{ type }}{% if class != '' %} {{ class }}{% endif %}">
        {{ data }}
    </div>
</div>
{% endmacro %}

{% macro heading_row(headings) %}
    <tr class="table__header">
        {% for header in headings %}
            <th class="table__cell">
                {{ header }}
            </th>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro data_rows(data, data_row_class) %}
    {% for row in data %}
        <tr class="table__row">
            {% set loop_row = loop %}
            {% for cell in row %}
                <!-- Important: The space before the {{ class }} in the if statement must be there,
                     otherwise the two classes get mushed together! -->
                <td class="table__cell{% if data_row_class[loop_row.index0] != '' %} {{ data_row_class[loop_row.index0] }}{% endif %}">
                    {{ cell }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endmacro %}

{% macro data_table(headings, data, data_row_class, table_id) %}
    <table class="table" id="table__{{ table_id }}">
        <thead>
            {{ heading_row(headings) }}
        </thead>
        <tbody>
            {{ data_rows(data, data_row_class) }}
        </tbody>
    </table>
{% endmacro %}