{% extends "base.html" %}

{% block style_sheets %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='styles/settings.css') }}">
{% endblock style_sheets %}

{% block page_content %}
<div class="main__body__settings">
    <h2>Basic Settings</h2>
    <div class="main__body__settings__basic">
        <div class="main__body__settings__basic__settings">
            <h4>Username</h4>
            <input type="text" name="username" id="username" value="{{ username }}" onchange="updateClassOnSettingChange(this.id)">
            <h4>Channel</h4>
            <input type="text" name="channel" id="channel" value="{{ channel }}" onchange="updateClassOnSettingChange(this.id)">
            <h4>Bot Colour: Normal</h4>
            <input type="text" name="bot_colour_normal" id="bot_colour_normal" value="{{ bot_colour_normal }}" onchange="updateClassOnSettingChange(this.id)">
            <h4>Bot Colour: Warnings and Timeouts</h4>
            <input type="text" name="bot_colour_warning_timeout" id="bot_colour_warning_timeout" value="{{ bot_colour_warning_timeout }}" onchange="updateClassOnSettingChange(this.id)">
            <h4>Default Username Colour</h4>
            <input type="text" name="default_username_colour" id="default_username_colour" value="{{ default_username_colour }}" onchange="updateClassOnSettingChange(this.id)">
            <div class="main__body__settings__basic__settings__buttons">
                <button onclick="updateChangedSettings([
                    'username',
                    'channel',
                    'bot_colour_normal',
                    'bot_colour_warning_timeout',
                    'default_username_colour'], 'receive_basic_settings_update')">Save Changes</button>
                <button onclick="resetSettingValueToDefault([
                    'username',
                    'channel',
                    'bot_colour_normal',
                    'bot_colour_warning_timeout',
                    'default_username_colour'])">Cancel</button>
            </div>
        </div>
    </div>
    <h2>Advanced Settings</h2>
    <div class="main__body__settings__advanced">
        <div class="main__body__settings__advanced__settings">
            <h4>Spam List</h4>
            <div class="main__body__settings__advanced__settings__spam_list">
                <!-- Inspiration for IDs: https://stackoverflow.com/a/4880398 & look at comment from @ypid -->
                {% set spam_list_ids = [] %}
                {% for spam_item in spam_list %}
                    <input type="text" id="{{ "spam_list_" + loop.index0|string }}" value="{{ spam_item }}" onchange="updateClassOnSettingChange(this.id)">
                    {% set _ = spam_list_ids.append("spam_list_" + loop.index0|string) %}
                {% endfor %}
            </div>
            <div class="main__body__settings__advanced__settings__buttons">
                <p>To remove an entry, delete the contents of the input field and save the changes by pressing the button "Save Changes".</p>
                <button onclick="addNewSpamListInputField()">Add New Entry</button>
                <button onclick="updateChangedSettings(getIDsFromChildElements('main__body__settings__advanced__settings__spam_list', 'input'),
                                                       'receive_advanced_settings_update')">Save Changes</button>
                <!-- Even though the editor complains for the below, it works -->
                <button onclick="resetSettingValueToDefault({{ spam_list_ids|safe }})">Cancel</button>
            </div>
            <h4>Information Cards</h4>
            <div class="main__body__settings__advanced__settings__info_cards">
                <p>Please make any changes to the information cards in the <code>config.json</code> file directly.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('.static', filename='scripts/settings-settings-changes.js') }}"></script>
{% endblock scripts %}