{% extends "base.html" %}

{% from 'macros.html' import information_card, data_table %}

{% block style_sheets %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='styles/twitch_bot.css') }}">
{% endblock style_sheets %}

{% block page_content %}
    <div class="main__body__info_cards">
        <!-- See comment in twitch_bot_page_routes.py regarding zip -->
        {% for header, data_value, data_type, html_additional_class in zip(info_card_headers, info_card_data_values, info_card_data_types, info_card_html_additional_classes) %}
            {{ information_card(header, data_value, data_type, html_additional_class) }}
        {% endfor %}
    </div>

    <div class="main__body__messages">
        <div class="main__body__messages__title">
            Messages
        </div>
        <div class="main__body__messages__table">
            <!-- See comment in twitch_bot_page_routes.py regarding zip -->
            {{ data_table(messages_table_headers,
                          zip(messages_timestamps, messages_events, messages_spam_flags, messages_authors, messages_messages),
                          messages_html_additional_classes,
                          "messages") }}
        </div>
    </div>

    <div class="main__body__bot__controls">
        <div class="main__body__bot__controls__title">
            Bot Controls
        </div>
        <div class="main__body__bot__controls__buttons">
            <button class="main__body__bot__controls__twitch_bot_start" onclick="twitch_bot_start()">Start Twitch Bot</button>
            <button class="main__body__bot__controls__twitch_bot_stop" onclick="twitch_bot_stop()">Stop Twitch Bot</button>
        </div>
    </div>

    <div class="main__body__connection__overview">
        <div class="main__body__connection__overview__title">
            Connection Overview
        </div>
        <div class="main__body__connection__overview__table">
            <!-- See comment in twitch_bot_page_routes.py regarding zip -->
            {{ data_table(connection_overview_table_headers,
                          zip(connection_overview_timestamps, connection_overview_messages),
                          "",
                          "connection_overview") }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('.static', filename='scripts/twitch-bot-receive-updates.js') }}"></script>
    <script src="{{ url_for('.static', filename='scripts/twitch-bot-controls.js') }}"></script>
{% endblock scripts %}